*.iml
*.local
*.localz
*.log
*.versionsBackup
*.zip
dep.txt
.classpath
.idea
.project
.settings
_*.sh
bin
mqjms.log*
target
truststore.jts
conf
.mvn/maven.config
.flattened*
web/src/main/resources/openapi-ts-client/k9-tilbake.openapi.json
