*.iml
*.local
*.localz
*.log
*.versionsBackup
*.zip
dep.txt
.classpath
.idea
.project
.settings
_*.sh
bin
app.properties
app-k9.properties
app.properties.backup
app-k9.properties.backup
app-local.properties
app-k9-local.properties
mqjms.log*
target
truststore.jts
conf
.mvn/maven.config
.flattened*
