/* WARNING: Uses CSS 2.1 */

@page {
    margin: 10%;
    size: A4 portrait;
    @bottom-right {
        font-family: "Source Sans Pro", sans-serif;
        color: #3E3832;
        content: "Side " counter(page) " av " counter(pages);
    }
}

@page tblpage {
    /* sørger for at vedlegg havner på egen side */
    size: A4 portrait;
    @bottom-right {
        font-family: "Source Sans Pro", sans-serif;
        color: #3E3832;
        content: "Side " counter(page) " av " counter(pages);
    }
}

table, h4 {
    /* sørger for at vedlegg havner på egen side */
    page: tblpage;
}

* {
    font-family: "Source Sans Pro", sans-serif !important;
    color: #3E3832;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#person {
    color: #807d7c;
    font-weight: 500;
}

#content {
    margin: 0;
}

#footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 25mm;
}

#nav_logo {
    width: 30mm;
    height: 18.2mm;
    margin: auto;
    padding: 0 0 10mm 0;
    position: absolute;
    right: 10mm;
}

#dato {
    position: absolute;
    right: 0;
    top: 25mm;
    margin: auto;
}

#brevmottaker {
    padding-top: 50mm;
    padding-bottom: 10mm;
}

.samepage {
    page-break-inside: avoid;
}

.line_top {
    border-top: 1px #3E3832 solid;
}

.line_bottom {
    border-bottom: 1px #3E3832 solid;
}

.line_left {
    border-left: 1px #3E3832 solid;
}

.line_right {
    border-right: 1px #3E3832 solid;
}

.block {
    width: 100%;
    margin-top: 0;
}

.inline {
    display: inline-block;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    color: #3E3832;
}

h2 {
    font-size: 16px;
    margin: 10mm 0 1.5mm 0;
    color: #3E3832;
}

h3 {
    font-size: 16px;
    margin: 10mm 0 -1.5mm 0;
    color: #666463;
}

h4 {
    font-size: 16px;
    margin: 10mm 0 1.5mm 0;
    color: #3E3832;
}

p {
    font-size: 16px;
    margin: 3mm 0 2mm 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

table, th, td {
    border: 1px solid #3E3832;
}

.sumrad {
    border: 1px solid #3E3832;
    border-top: 2px solid #3E3832;
}

th, td {
    padding: 5px 10px;
    margin: 0;
    overflow: hidden;
}

th.sum, td.sum {
    max-width: 40mm;
}

th.periode, td.periode {
    width: 33mm;
}

th {
    vertical-align: top;
}


thead {
    background-color: #c6d9f1;
}

.bold {
    font-weight: bold;
}

.new_page {
    page-break-before: always;
}

.checkbox_title_right {
    margin-left: 5mm;
    font-size: 12px;
    vertical-align: middle;
}

.titled_checkbox_block {
    margin-left: 3mm;
    margin-bottom: 5mm;
}

.titled_checkbox_inline {
    display: inline;
    margin-left: 3mm;
}

.signature_date_title {
    font-size: 10px;
}

.centered_text_title {
    text-align: center;
    font-size: 12px;
}

.sum {
    font-weight: bold;
}

.tall {
    text-align: right;
}
