name: Bygg og deploy
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - '.editorconfig'
      - '.java-version'
      - 'LICENSE'
      - 'CODEOWNERS'
      - 'docs/**'
      - 'kafka/**'
      - '.oracle/**'
      - '.github/*.yml'

jobs:
  build-app:
    name: Build
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/build-app.yml@main
    with:
      build-image: ${{ github.ref_name == 'master' }} # default: true
      push-image: ${{ github.ref_name == 'master' }} # default: false
    secrets: inherit

  publish-image-k9:
    # m책let her er at k9-verdikjede skal kunne hente imaget for k9-tilbake
    # enkleste vei ser ut til 책 bygge p책 nytt og puhse til k9sakbehandling i GAR
    name: Build p책 nytt for publisering til k9saksbehandling i GAR
    if: github.ref_name == 'master'
    needs: build-app
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/build-app.yml@main
    with:
      build-image: ${{ github.ref_name == 'master' }} # default: true
      push-image: ${{ github.ref_name == 'master' }} # default: false
      namespace: k9saksbehandling
      skip-tests: true
      sonar-scan: false
    secrets: inherit

  fptilbake-tester:
    name: Fptilbake tester
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'master'
    needs: build-app
    uses: navikt/fp-autotest/.github/workflows/autotest.yml@master
    with:
      build-version: ${{ needs.build-app.outputs.build-version }}
      test-suite: fptilbake
    secrets: inherit

  verdikjede-tester:
    name: Verdikjedetester
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'master'
    needs: build-app
    uses: navikt/fp-autotest/.github/workflows/autotest.yml@master
    with:
      build-version: ${{ needs.build-app.outputs.build-version }}
      test-suite: verdikjede
    secrets: inherit

  k9-verdikjede-tester:
    name: K9 Verdikjedetester
    permissions:
      id-token: write
      contents: read
      packages: read
    if: github.ref_name == 'master'
    needs: publish-image-k9
    uses: navikt/sif-gha-workflows/.github/workflows/verdikjede-test-v2.yml@main
    with:
      tag: ${{ needs.publish-image-k9.outputs.build-version }}
      image_version: ${{ needs.publish-image-k9.outputs.build-version }}
      suites: "tilbake"
    secrets: inherit


  notify:
    name: Notify
    if: github.ref_name == 'master' && (success() || failure()) && !contains(needs.*.result, 'skipped')
    needs: [build-app, fptilbake-tester, verdikjede-tester]
    uses: navikt/fp-autotest/.github/workflows/report-and-notify.yml@master
    with:
      fptilbake: ${{ needs.fptilbake-tester.outputs.resultat }}
      verdikjede: ${{ needs.verdikjede-tester.outputs.resultat }}
      build-version: ${{ needs.build-app.outputs.build-version }}
    secrets: inherit

  deploy-dev-teamforeldrepenger:
    name: Deploy dev fp
    permissions:
      id-token: write
    if: github.ref_name == 'master'
    needs: [build-app, fptilbake-tester, verdikjede-tester]
    uses: navikt/fptilbake/.github/workflows/deploy.yml@master
    with:
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: dev-fss
      namespace: teamforeldrepenger
    secrets: inherit

  deploy-prod-teamforeldrepenger:
    name: Deploy prod fp
    permissions:
      id-token: write
    if: github.ref_name == 'master'
    needs: [build-app, fptilbake-tester, verdikjede-tester, deploy-dev-teamforeldrepenger]
    uses: navikt/fptilbake/.github/workflows/deploy.yml@master
    with:
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: prod-fss
      namespace: teamforeldrepenger
    secrets: inherit

  deploy-dev-k9saksbehandling:
    name: Deploy dev k9
    permissions:
      id-token: write
    if: github.ref_name == 'master'
    needs: [publish-image-k9, fptilbake-tester, verdikjede-tester, k9-verdikjede-tester]
    uses: navikt/fptilbake/.github/workflows/deploy.yml@master
    with:
      image: ${{ needs.publish-image-k9.outputs.build-version }}
      cluster: dev-fss
      namespace: k9saksbehandling
    secrets: inherit

  deploy-prod-k9saksbehandling:
    name: Deploy prod k9
    permissions:
      id-token: write
    if: github.ref_name == 'master'
    needs: [publish-image-k9, fptilbake-tester, verdikjede-tester, k9-verdikjede-tester, deploy-dev-k9saksbehandling, ]
    uses: navikt/fptilbake/.github/workflows/deploy.yml@master
    with:
      image: ${{ needs.publish-image-k9.outputs.build-version }}
      cluster: prod-fss
      namespace: k9saksbehandling
    secrets: inherit

